<p>login works!</p>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" [(ngModel)]="email" required placeholder="Email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password" required placeholder="Password" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
